<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-col-rt col-md-6 col-lg-6 col-sm-6">
                © {{ 'now' | date: "%Y" }} - IASC
            </div>
            <div class="footer-col-lf col-md-6 col-lg-6 col-sm-6 right-flex">
                <a href="https://github.com/arquitecturas-concurrentes/iasc-book">
                    Fork me at github
                    <img src="{{site.relative_url}}/img/github_logo.png" class='github-icon center'>
                </a>
            </div>
        </div>
    </div>
</div>