<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>IASC Notes</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Apuntes y notas de IASC</p>
        <!--<li class="active">-->
            <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
            <!--<ul class="collapse list-unstyled" id="homeSubmenu">-->
                <!--<li>-->
                    <!--<a href="#">Home 1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Home 2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Home 3</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <li>
        <a href="{{site.relative_url}}/clase_3">CPS</a>
        </li>
        <li>
            <a href="#actoresSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actores</a>
            <ul class="collapse list-unstyled" id="actoresSubmenu">
                <li>
                    <a href="{{site.relative_url}}/actores_intro">Introduccion Actores</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/otp">Elixir OTP</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#distriSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Distribucion</a>
            <ul class="collapse list-unstyled" id="distriSubmenu">
                <li>
                    <a href="{{site.relative_url}}/distribucion">Introduccion a distribucion</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/cap">Notas sobre CAP</a>
                </li>
            </ul>
        </li>
        <!--<li>-->
            <!--<a href="#">About</a>-->
            <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>-->
            <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
                <!--<li>-->
                    <!--<a href="#">Page 1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Page 2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Page 3</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">Portfolio</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">Contact</a>-->
        <!--</li>-->
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="http://arquitecturas-concurrentes.github.io" class="article">Volver a la pagina IASC</a>
        </li>
    </ul>
</nav>