<!-- Sidebar Holder -->
<nav class="sidebar">
    <div class="sidebar-header">
        <a href="{{site.relative_url}}">
            <h3 class="title">IASC Notes</h3>
        </a>
    </div>

    <ul class="list-unstyled components">
        <p>Temas</p>
        <li>
            <a href="{{site.relative_url}}/introduccion">Intro</a>
        </li>
        <li>
            <a href="{{site.relative_url}}/cps">CPS</a>
        </li>
        <li>
            <a href="{{site.relative_url}}/promises">Promises</a>
        </li>
        <li>
            <a href="{{site.relative_url}}/coroutines">Corrutinas</a>
        </li>
        <li>
            <a href="#actoresSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actores</a>
            <ul class="collapse list-unstyled" id="actoresSubmenu">
                <li>
                    <a href="{{site.relative_url}}/actores_intro">Introduccion Actores</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/otp">Elixir OTP</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#stmSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Memoria
                Transaccional</a>
            <ul class="collapse list-unstyled" id="stmSubmenu">
                <li>
                    <a href="{{site.relative_url}}/efecto_lado_haskell">Efectos de lado en Haskell</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/stm">STM</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#distriSubmenu" data-toggle="collapse" aria-expanded="false"
               class="dropdown-toggle">Distribucion</a>
            <ul class="collapse list-unstyled" id="distriSubmenu">
                <li>
                    <a href="{{site.relative_url}}/distribucion">Introduccion a distribucion</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/distribucion_elixir">Distribucion en Elixir</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/interleaving">Interleaving y Netsplits</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/cap">Notas sobre CAP</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/mitos">Mitos en la distribucion</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#virtuSubmenu" data-toggle="collapse" aria-expanded="false"
               class="dropdown-toggle">Contenedores</a>
            <ul class="collapse list-unstyled" id="virtuSubmenu">
                <li>
                    <a href="{{site.relative_url}}/contenedores">Contenedores con Docker</a>
                </li>
                <li>
                    <a href="{{site.relative_url}}/service_mesh">Service Mesh</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="sidebar-header">
        <form action="{{site.relative_url}}/search" method="get">
            <input type="text" class="search-leftbar" id="search_box" name="query">
            <input type="submit" value="Buscar">
        </form>
    </div>
</nav>