<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="wrapper">

    {% include sidebar.html %}

    <div class="container header">
        {% include navbar.html %}

        {% include title.html %}

        <div class="container">

            <div class="inner-content col-lg-10 offset-lg-1 col-md-10 offset-md-2 col-sm-8 offset-sm-1">
                {{ content }}
            </div>
        </div>
    </div>
</div>


{% include copyright.html %}
{% include footer.html %}


</body>

</html>
