body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.container {
  max-width: 1140px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.header-anchor {
  opacity: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.title {
  text-align: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* wrapper flex layout */
.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
}

/* main content styling */
.content {
  flex: 1; /* fill remaining space */
  padding: 20px;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.inner-content {
  margin-bottom: 50px;
  padding-top: 25px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #333333;
}

.inner-content p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #404040;
}

.inner-content a {
  color: #f7882f;
}

.inner-content a:hover {
  color: #6b7a8f;
}

.titulo-heading {
  margin-bottom: 15px;
}

.header {
  padding-left: 0px;
  padding-right: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
}

.iasc-image {
  max-width: 600px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.iasc-image .content {
  text-align: center;
}

.iasc-image .content img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul ul a {
  font-size: 0.9em;
  padding-left: 30px;
}

.right-flex {
  display: flex;
  justify-content: flex-end;
}
